/* 
<div class="checkbox">
    <input type="checkbox" />
    <span class="checkmark"></span>
</div> 
*/

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 24px;
    width: 24px;
}

.checkbox>input:checked~.checkmark {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    /* box-sizing: border-box; */
}

/* Hide the browser's default checkbox */
.checkbox>input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input~.checkmark {
    opacity: 90%;
}

/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid var(--primary-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}