.error-message-date {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 32px;
    width: 260px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    z-index: 2;
}

input:hover~.error-message-date {
    display: block;
}

.error-element>.error-message-date {
    font-size: 12px;
    color: #e61d1d;
}

input:hover~.error-message-date {
    display: block;
}

.datepicker-default {
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    color: #888;
}

/* 
  .datepicker-default:not(:focus) {
  } */

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}

.datepicker-icon {
    position: relative;
}

.datepicker-icon>div {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 8px;
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -128px -312px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}