.h-dialog-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background: #fff;
    z-index: 10;
    padding: 24px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
}

.h-dialog__title {
    font-weight: bold;
    font-size: 20px;
}

.h-dialog__content {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.h-dialog__content>div:first-child {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-dialog__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.h-dialog__footer>div:last-child {
    display: flex;
    column-gap: 8px;
}