.filter-item {
    display: flex;
    align-items: center;
    color: #0075c0;
    cursor: pointer;
}

.filterBox__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.btn-operator {
    display: flex;
    align-items: center;
    color: #0075c0;
    cursor: pointer;
}

.listOptionsOperator {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(23, 27, 42, 0.5);
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: #0075c0;
}

.operatorOption {
    border: none;
    background: none;
    height: 36px;
    color: #1f1f1f;
    text-align: left;
    width: 100%;
    display: block;
    cursor: pointer;
}

.operatorOption:hover {
    color: var(--primary-color);
}

.filterBox {
    position: fixed;
    width: 320px;
    top: 216px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 16px;
    box-shadow: 0 0 4px rgba(23, 27, 42, 0.5);
    z-index: 10;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.filterBox .filterBox__footer {
    display: flex;
    justify-content: space-between;
}