.no-post-list {
    display: flex;
    min-height: calc(100vh - 208px);
    justify-content: center;
    align-items: center;
}

.post-list {
    width: 720px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.post.type-1 {
    background-color: #fff;
    display: flex;
    column-gap: 16px;
    text-decoration: none;
    height: 200px;
    padding: 8px;
    box-sizing: border-box;
}

.post.type-1:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.post__left {
    position: relative;
    height: 100%;
}

.post__img {
    width: 184px;
    object-fit: cover;
    object-position: center;
}

.post__left img {
    height: 100%;
}

.post__left div {
    color: #fff;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

.post__right {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.post__title {
    color: var(--primary-color);
}

.post__price {
    color: var(--red-color);
}

.post__describe {
    color: var(--text-color);
}

.post__describe p {
    max-height: calc(1.2em * 5);
    /* chiều cao tối đa bằng 3 dòng, mỗi dòng có chiều cao là 1.2em */
    line-height: 1.2em;
    /* chiều cao của mỗi dòng */
    overflow: hidden;
    /* ẩn những dòng vượt quá max-height */
    text-overflow: ellipsis;
    /* thêm dấu chấm ba khi văn bản bị cắt */
    display: -webkit-box;
    /* sử dụng kiểu hiển thị -webkit-box để hỗ trợ hiển thị dạng dòng */
    -webkit-line-clamp: 5;
    /* giới hạn số dòng bằng 3 */
    -webkit-box-orient: vertical;
    /* chiều dọc của các dòng */
    white-space: pre-line;
}

.post__info {
    position: absolute;
    bottom: 4px;
    left: 0;
}

.poster__info,
.post__info {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.poster__info img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    box-sizing: border-box;
}

.post__heart {
    position: absolute;
    bottom: 0;
    right: 8px;
}

.post__heart i {
    font-size: 28px;
    color: var(--red-color);
}