.btn-radio {
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    min-height: 36px;
}

.btn-radio__option {
    position: relative;
    display: flex;
    align-items: center;
}

.btn-radio__option>input {
    height: 36px;
    width: 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    accent-color: #5dc748;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 0;
    outline: none;

}

.btn-radio__option>label {
    padding-left: 28px;
}

.btn-radio__option>div:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-radio__option:has(input:focus)>div:last-child::before {
    position: absolute;
    top: 8px;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 1pt lightblue;
    pointer-events: none;
}

.btn-radio__option:has(input:checked)>div:last-child:after {
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 12px;
    left: 4px;
    background-color: #5dc748;
    content: "";
    display: block;
    box-sizing: border-box;
}

.btn-radio__option:has(input:checked)>div:last-child:before {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 0;
    background-color: #fff;
    content: "";
    display: block;
    border: 1px solid #5dc748;
    box-sizing: border-box;
}