table {
    border-spacing: 0;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.checkbox-col {
    border-right: 1px dotted #e0e0e0;
}

th {
    padding-right: 20px;
}

th.data-col+th.data-col,
th.function-col {
    border-left: 1px solid #c7c7c7;
}

th.checkbox-col {
    border-right: 1px solid #c7c7c7;
}

td.data-col+td.data-col,
.function-col {
    border-left: 1px dotted #e0e0e0;
    min-width: 120px;
}

td.data-col {
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
    text-overflow: ellipsis;
}

td.data-col div {

    overflow: hidden;
    max-width: 208px;
    text-overflow: ellipsis;
}

td.function-col {
    display: flex;
    align-items: center;
}

.function-col {
    position: sticky;
    right: 0;
}

.function-col input {
    color: #0075c0;
}

.table thead,
tr.tbrow,
td {
    height: 48px;
}

.action .dropdownlist {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 36px;
    right: 16px;
}

.dropdownlist {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0;
}

tr:nth-last-child(-n+2):not(:nth-child(-n+12)) .dropdownlist {
    top: -56px;
}

.table {
    width: 100%;
    min-height: calc(100vh - 216px);
    overflow: auto;
}

.table table {
    max-height: calc(100vh - 216px - 65px);
    overflow-y: scroll;
}

td.action {
    z-index: 3 !important;

}


.selected-row>td {
    background-color: #F2FFF0;
}

.paging {
    border-top: 1px solid #ccc;
    background-color: #fff;
    padding: 0 8px;
}

.paging,
.paging__right {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 4px;
    padding-left: 8px;
    margin: 0;
}

a.page-link {
    text-decoration: unset;
    display: block;
    min-width: 28px;
    text-align: center;
    padding: 6px 4px;
}

.page-item.active {
    box-sizing: border-box;
    border: 1px solid #c7c7c7;
}

.page-item {
    cursor: pointer;
}

.page-item.active,
.page-item.disabled {
    cursor: default;
}

.page-item.disabled {
    color: #00000078;
}


.th-filter-icon {
    position: absolute !important;
    left: -4px;
    top: 0;
}

th:hover>.btn-filter {
    display: block;
}

th>.btn-filter {
    display: none;
    position: relative;
    float: right;
    margin-right: 8px;
}

.btn-sort {
    height: 8px !important;
}

.th-text {
    height: 24px;
    display: flex;
    align-items: center;
}

.table__row {
    height: 48px;
}


table,
tr,
td {
    vertical-align: center;
}

td,
th {
    text-align: left;
    width: auto;
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: center;
}

th {
    background-color: #e5e8ec;
}


td {
    background-color: #fff;
}

/* 
tr:hover{
    background-color: #EEE;
} */

thead {
    z-index: 1;
}

th:first-child,
td:first-child {
    position: sticky;
    left: 0;
    width: 57px;
}


tr:hover td,
tr:hover .btn-edit {
    background-color: #f8fef7;
}