.icon-top-right-popup {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    column-gap: 8px;
}

.popup_add_user {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bgshadow {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000050;
    z-index: 10;
}

.popup {
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    min-width: 360px;
    z-index: 10;
}

.popup * {
    font-family: Roboto;
}

.popup__btn-close {
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -143px -145px;
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.popup__btn-help {
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -88px -145px;
    width: 24px;
    height: 24px;
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    top: 24px;
    right: 60px;
    cursor: pointer;
}

.popup__title {
    padding: 24px 24px 0;
    box-sizing: border-box;
}

.popup__title-text {
    font-size: 24px;
    font-weight: 700;
}

.popup__content {
    padding: 24px;
    box-sizing: border-box;
}

.popup__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
    padding: 24px;
    box-sizing: border-box;
}

.popup__footer>div:first-child {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.popup__content {
    display: flex;
}

/* 
    ------------------------------------------------ */

.popup-add-employee {
    font-family: "Roboto";
}

.popup__text {
    width: 360px;
}

.ctr-item {
    width: 20%;
}

.form-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;
}

.form-group-row+.form-group-row {
    margin-top: 14px;
}

.form-group-row {
    display: flex;
    column-gap: 8px;
}

.form-info-left {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: calc(50% - 16px);
}

.form-info-right {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: calc(50% - 16px);
}

.form-info-bottom {
    width: 100%;
}

.m-row {
    display: flex;
    column-gap: 8px;
}

.m-row>div:first-child {
    width: 40%;
}

.second-row>div:first-child {
    width: 60%;
}

.second-row>div:last-child {
    width: 40%;
}

.form-info-right>.second-row {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.m-row>div:last-child {
    flex: 1;
}

.form-group .item-gt {
    padding-left: 8px;
}

.item-contact {
    width: 25%;
}

.department {
    width: 100%;
}

.paging__combobox {
    width: 220px;
}

.paging__combobox>.rotate-180 {
    transform: rotate(-180deg);
}

.form-checkbox {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    top: 28px;
    left: 200px;
}

.popup__title {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.popup__title .checkbox {
    margin-left: 8px;
}

.popup__title label {
    font-size: 14px;
    font-weight: 500;
}

.table__row:has(.abc)>td {
    z-index: 111111 !important;
}

.searchbox:has(input:focus) {
    border-color: #50b83c;
}

.delete-popup {
    width: 450px;
    box-shadow: 0 0 4px rgba(23, 27, 42, 0.24);
}

.ppd__img {
    width: 100%;
}

.imglist {
    display: flex;
    column-gap: 2%;
    margin-top: 16px;
}

.imglist img {
    width: 15%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.ppd__info div,
.ppd__info label {
    align-items: center;
    font-size: 18px;
}

.ppd__info label {
    font-weight: 600;
}

.ppd__info p {
    font-size: 16px;
    margin: 0;
}

.ppd__title {
    font-weight: bold !important;
    font-size: 24px !important;
}

.ppd__price {
    color: var(--red-color);
}

.ppd__describe {
    max-height: 200px;
    overflow: auto;
}

.ppd__describe p {}