@import url(./base/radiobutton.css);


/* Components */
@import url(./base/radiobutton.css);
@import url(./components/dropdownlist.css);
@import url(./base/checkbox.css);
@import url(./base/toast.css);

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.woff2);
}

:root {
    --primary-color: #50b83c;
    --primary-color-light: #57c841;
    --primary-color-hover: rgba(80, 184, 60, 0.1);
    --red-color: #E03C31;
    --text-color: #2c2c2c;
    --grey-color: #999;
    --border-color: #ccc;
    --select2-single-height: 32px;
}

* {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
/* Handle on hover */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: #cdd3d6;
    border-radius: 4px;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: unset !important;
}

body {
    font-family: "Lexend Regular", Roboto, Arial;
    font-size: 14px;
}

.invalid-input {
    color: red;
    font-size: 12px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.color-red {
    color: red !important;
}

.bgshadow {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000050;
    z-index: 10;
}